body {
  --max-width: 800px;
  --column-width: 250px;
  display: flex;
  flex-flow: column;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
  margin: 5%;
}

.title,
.results {
  width: 100%;
  max-width: var(--max-width);
}

.settings {
  flex: auto;
  max-width: var(--max-width);
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}

.settings-section {
  margin-right: 24px;
}

label {
  width: var(--column-width);
  display: flex;
  align-items: center;
  margin: 4px;
  margin-left: 0;
}

input {
  width: 100px;
  margin-left: auto;
}

#file-upload {
  width: var(--column-width);
}

#calculate-button {
  width: var(--column-width);
  height: 25px;
  margin-top: 36px;
}

.no-upload {
    color: red;
    visibility: hidden;
}

canvas {
  width: 100%;
  max-width: var(--max-width);
  height: 400px;
  background-color: #fafafa;
  margin-top: 24px;
}
