body {
  --max-width: 800px;
  --column-width: 250px;
  display: flex;
  flex-flow: column;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
  margin: 5%;
}

.title,
.results,
.time-estimation-section {
  width: 100%;
  max-width: var(--max-width);
}

.settings {
  flex: auto;
  max-width: var(--max-width);
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}

.settings-section {
  margin-right: 24px;
}

label {
  width: var(--column-width);
  display: flex;
  align-items: center;
  margin: 4px;
  margin-left: 0;
}

input {
  width: 100px;
  margin-left: auto;
}

.settings h5 {
  margin-bottom: 12px;
}

.advanced {
  margin-left: 12px;
  /* max-height: 0px;
  overflow: hidden;
  transition: max-height .25s ease-in-out; */
}

.advanced label {
  width: calc(var(--column-width) - 12px);
  font-size: smaller;
}

#file-upload {
  width: var(--column-width);
}

.time-estimation-section {
    display: flex;
    color: cornflowerblue;
    margin-top: 16px;
}

.time-estimation-section h2 {
    margin-right: 16px;
}

canvas {
  width: 100%;
  max-width: var(--max-width);
  height: 800px;
  background-color: #fafafa;
  margin-top: 24px;
}
