body {
  --max-width: 800px;
  --column-width: 250px;
  display: flex;
  flex-flow: column;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
  margin: 5%;
}

/* .title,
.results,
.time-estimation-section {
  width: 100%;
  max-width: var(--max-width);
} */

.settings {
  flex: auto;
  max-width: var(--max-width);
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}

section {
  background-color: #fafafa;
  border-radius: 20px;
  width: 100%;
  margin-top: 12px;
  display: flex;
  max-width: var(--max-width);
}

section > * {
  margin: 20px;
}

.settings-section {
  margin-right: 12px;
}

.settings-section .material-icons {
  font-size: medium;
}

label {
  width: var(--column-width);
  display: flex;
  align-items: center;
  margin: 0;
}

label p {
  width: 110px;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-right: 12px;
}

input {
  margin-left: auto;
  width: 60px;
}

.units {
  font-size: small;
  color: gray;
  margin-left: 5px;
  width: 50px;
}

.settings h5 {
  margin-bottom: 12px;
}

.advanced {
  margin-left: 12px;
}

.advanced label {
  width: calc(var(--column-width) - 12px);
  font-size: smaller;
}

#file-upload {
  width: var(--column-width);
  margin-bottom: 12px;
}

.time-estimation-section {
  /* display: flex; */
  color: cornflowerblue;
}

.time-estimation-section h2 {
  margin-right: 16px;
}

.animation-cotrollers {
  display: flex;
  width: 100%;
  max-width: var(--max-width);
}

.animation-cotrollers .material-icons {
  font-size: 36px;
  cursor: pointer;
}

.material-icons:hover {
  transform: scale(1.2);
  color: cornflowerblue;
  cursor: pointer;
}

.locked-proportion {
  position: relative;
  height: 20px;
  margin-left: 12px;
}

.locked-proportion > i {
  position: absolute;
}

canvas {
  height: 800px;
  background-color: #f6edd4;
  width: 100%;
  width: -moz-available;
  width: -webkit-fill-available;
  width: fill-available;
}

.loader {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.85);
  top: 0px;
  left: 0px;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: large;
  font-weight: bolder;
  text-transform: uppercase;
  visibility: hidden;
  flex-flow: column;
  animation: color-change 1s alternate-reverse infinite;
}

.loader > div {
  width: 20px;
  height: 20px;
  background-color: royalblue;
  border: cornflowerblue solid 5px;
  margin: 50px;
  animation: spin 1s alternate infinite;
  border-radius: 7px;
}

@keyframes spin {
  100% {
    transform: rotate(360deg) scale(2);
  }
}

@keyframes color-change {
  0% {
    color: cornflowerblue;
  }
  100% {
    color: royalblue;
  }
}
